h1
{
    color: cornflowerblue;
    font-size: 50px;
    background-color: red;
    border: 5px solid blue;
    display: inline;
}
h2
{
    font-size: 30px;
    font-family: serif;
    color: white;
    /* font-weight: bold; */
    width: 50%;
    left: 25%;
    border-radius: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    line-height: 495px;
    background-color: red; 
}